{% extends '../base.html' %}

{% block title %}Reset Password - ETSU Computing Helpdesk{% endblock %}

{% block content %}
<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 position-absolute top-50 start-50 translate-50-rev">
    <div class="form-container shadow">
        <div class="text-center mb-4">
            <h4 class="ff-bold">Reset Password</h4>
        </div>

        <form method="post" class="d-flex flex-column gap-3" novalidate>
            {% csrf_token %}
            <div>
                <label for="{{ form.email.id_for_label }}" class="forms-label">Email Address</label>
                <input type="email" name="email"
                        class="{% if form.email.errors %}is-invalid{% endif %}"
                        id="{{ form.email.id_for_label }}"
                        placeholder="your.email@etsu.edu"
                        required>
                {% if form.email.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.email.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div>Enter your ETSU email address and we'll send you instructions to reset your password.</div>
            <button type="submit" class="btn bttn-primary ff-bold w-100">Send Reset Link</button>
            <div class="text-center">
                <a href="{% url 'login' %}" class="text-highlight-primary text-decoration-none">
                    Back to Login
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}