{% extends '../base.html' %}

{% block title %}Email Sent - ETSU Computing Helpdesk{% endblock %}

{% block content %}
<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 position-absolute top-50 start-50 translate-50-rev">
    <div class="form-container shadow">
        <div class="text-center mb-4">
            <h4 class="ff-bold">Check your email</h4>
        </div>
        <div class="d-flex flex-column gap-3 text-center">
            <div>We've emailed you instructions for setting your password. You should receive them shortly.</div>
            <div>If you don't receive an email, please make sure you've entered the address you registered with.</div>
            <div>
                <a href="{% url 'login' %}" class="text-highlight-primary text-decoration-none">
                    Return to Login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}