{% extends '../base.html' %}

{% block title %}Set New Password - ETSU Computing Helpdesk{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-container shadow">
            <h2 class="ff-bold mb-3">Set New Password</h2>

            {% if validlink %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.new_password1.id_for_label }}" class="forms-label">New Password</label>
                        <input type="password" name="new_password1"
                               class="{% if form.new_password1.errors %}is-invalid{% endif %}"
                               id="{{ form.new_password1.id_for_label }}"
                               required>
                        {% if form.new_password1.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.new_password1.errors|join:", " }}
                            </div>
                        {% endif %}
                        {% if form.new_password1.help_text %}
                            <div class="form-text">
                                {{ form.new_password1.help_text|safe }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-4">
                        <label for="{{ form.new_password2.id_for_label }}" class="forms-label">Confirm Password</label>
                        <input type="password" name="new_password2"
                               class="{% if form.new_password2.errors %}is-invalid{% endif %}"
                               id="{{ form.new_password2.id_for_label }}"
                               required>
                        {% if form.new_password2.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.new_password2.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn bttn-primary">Change Password</button>
                </form>
            {% else %}
                <div class="alert alert-danger">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </div>
                <a href="{% url 'password_reset' %}" class="btn bttn-primary">Request New Reset Link</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}